<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>errorCode</key>
		<integer>400</integer>
		<key>errorMassage</key>
		<string>请求不合法，包体格式错误</string>
		<key>errorTotalCode</key>
		<string>400 HTTP_BAD_REQUEST</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>401</integer>
		<key>errorMassage</key>
		<string>权限验证失败</string>
		<key>errorTotalCode</key>
		<string>401 HTTP_UNAUTHORIZED</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>403</integer>
		<key>errorMassage</key>
		<string>鉴权信息不合法，禁止访问</string>
		<key>errorTotalCode</key>
		<string>403 HTTP_FORBIDDEN</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>404</integer>
		<key>errorMassage</key>
		<string>鉴权信息不合法，禁止访问</string>
		<key>errorTotalCode</key>
		<string>404 HTTP_NOTFOUND</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>411</integer>
		<key>errorMassage</key>
		<string>请求没有指定ContentLength</string>
		<key>errorTotalCode</key>
		<string>411 HTTP_REQ_NOLENGTH</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>423</integer>
		<key>errorMassage</key>
		<string>请求的服务没有找到</string>
		<key>errorTotalCode</key>
		<string>423 HTTP_SERVER_NOTFOUND</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>424</integer>
		<key>errorMassage</key>
		<string>请求的方法没有找到</string>
		<key>errorTotalCode</key>
		<string>424 HTTP_METHOD_NOTFOUND</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>425</integer>
		<key>errorMassage</key>
		<string>请求包体太大</string>
		<key>errorTotalCode</key>
		<string>425 HTTP_REQUEST_OVERFLOW</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>500</integer>
		<key>errorMassage</key>
		<string>服务内部错误</string>
		<key>errorTotalCode</key>
		<string>500 HTTP_INTERNAL_SERVER_ERROR</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>503</integer>
		<key>errorMassage</key>
		<string>服务不可用</string>
		<key>errorTotalCode</key>
		<string>503 HTTP_SERVICE_UNAVAILABLE</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>504</integer>
		<key>errorMassage</key>
		<string>后端服务超时</string>
		<key>errorTotalCode</key>
		<string>504 HTTP_GATEWAY_TIME_OUT</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1100</integer>
		<key>errorMassage</key>
		<string>相似度错误</string>
		<key>errorTotalCode</key>
		<string>SDK_DISTANCE_ERROR = -1100</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1101</integer>
		<key>errorMassage</key>
		<string>人脸检测失败</string>
		<key>errorTotalCode</key>
		<string>SDK_IMAGE_FACEDETECT_FAILED = -1101</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1102</integer>
		<key>errorMassage</key>
		<string>图片解码失败</string>
		<key>errorTotalCode</key>
		<string>SDK_IMAGE_DECODE_FAILED = -1102</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1103</integer>
		<key>errorMassage</key>
		<string>特征处理失败</string>
		<key>errorTotalCode</key>
		<string>SDK_FEAT_PROCESSFAILED = -1103</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1104</integer>
		<key>errorMassage</key>
		<string>提取轮廓错误</string>
		<key>errorTotalCode</key>
		<string>SDK_FACE_SHAPE_FAILED = -1104</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1105</integer>
		<key>errorMassage</key>
		<string>提取性别错误</string>
		<key>errorTotalCode</key>
		<string>SDK_FACE_GENDER_FAILED = -1105</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1106</integer>
		<key>errorMassage</key>
		<string>提取表情错误</string>
		<key>errorTotalCode</key>
		<string>SDK_FACE_EXPRESSION_FAILED = -1106</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1107</integer>
		<key>errorMassage</key>
		<string>提取年龄错误</string>
		<key>errorTotalCode</key>
		<string>SDK_FACE_AGE_FAILED = -1107</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1108</integer>
		<key>errorMassage</key>
		<string>提取姿态错误</string>
		<key>errorTotalCode</key>
		<string>SDK_FACE_POSE_FAILED = -1108</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1109</integer>
		<key>errorMassage</key>
		<string>提取眼镜错误</string>
		<key>errorTotalCode</key>
		<string>SDK_FACE_GLASS_FAILED = -1109</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1200</integer>
		<key>errorMassage</key>
		<string>存储错误</string>
		<key>errorTotalCode</key>
		<string>STORAGE_ERROR = -1200</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1300</integer>
		<key>errorMassage</key>
		<string>图片为空</string>
		<key>errorTotalCode</key>
		<string>ERROR_IMAGE_EMPTY= -1300</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1301</integer>
		<key>errorMassage</key>
		<string>参数为空</string>
		<key>errorTotalCode</key>
		<string>ERROR_PARAMETER_EMPTY = -1301</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1302</integer>
		<key>errorMassage</key>
		<string>个体已存在</string>
		<key>errorTotalCode</key>
		<string>ERROR_PERSON_EXISTED=-1302</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1303</integer>
		<key>errorMassage</key>
		<string>个体不存在</string>
		<key>errorTotalCode</key>
		<string>ERROR_PERSON_NOT_EXISTED=-1303</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1304</integer>
		<key>errorMassage</key>
		<string>参数过长</string>
		<key>errorTotalCode</key>
		<string>ERROR_PARAMETER_TOO_LONG=-1304</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1305</integer>
		<key>errorMassage</key>
		<string>人脸不存在</string>
		<key>errorTotalCode</key>
		<string>ERROR_FACE_NOT_EXISTED=-1305</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1306</integer>
		<key>errorMassage</key>
		<string>组不存在</string>
		<key>errorTotalCode</key>
		<string>ERROR_GROUP_NOT_EXISTED=-1306</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1307</integer>
		<key>errorMassage</key>
		<string>组列表不存在</string>
		<key>errorTotalCode</key>
		<string>ERROR_GROUPLIST_NOT_EXISTED=-1307</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1308</integer>
		<key>errorMassage</key>
		<string>url图片下载失败</string>
		<key>errorTotalCode</key>
		<string>ERROR_DOWNLOAD_IMAGE_FAILED=-1308</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1309</integer>
		<key>errorMassage</key>
		<string>人脸个数超过限制</string>
		<key>errorTotalCode</key>
		<string>ERROR_FACE_NUM_EXCEED=-1309</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1310</integer>
		<key>errorMassage</key>
		<string>个体个数超过限制</string>
		<key>errorTotalCode</key>
		<string>ERROR_PERSON_NUM_EXCEED=-1310</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1311</integer>
		<key>errorMassage</key>
		<string>组个数超过限制</string>
		<key>errorTotalCode</key>
		<string>ERROR_GROUP_NUM_EXCEED=-1311</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1312</integer>
		<key>errorMassage</key>
		<string>对个体添加了几乎相同的人脸</string>
		<key>errorTotalCode</key>
		<string>ERROR_SAME_FACE_ADDED=-1312</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1400</integer>
		<key>errorMassage</key>
		<string>无效的图片格式</string>
		<key>errorTotalCode</key>
		<string>ERROR_GROUPLIST_NOT_EXISTED=-1400</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1401</integer>
		<key>errorMassage</key>
		<string>图片模糊度检测失败</string>
		<key>errorTotalCode</key>
		<string>ERROR_GROUPLIST_NOT_EXISTED=-1401</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1402</integer>
		<key>errorMassage</key>
		<string>美食图片检测失败</string>
		<key>errorTotalCode</key>
		<string>ERROR_GROUPLIST_NOT_EXISTED=-1402</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1403</integer>
		<key>errorMassage</key>
		<string>图片下载失败</string>
		<key>errorTotalCode</key>
		<string>ERROR_GROUPLIST_NOT_EXISTED=-1403</string>
	</dict>
	<dict>
		<key>errorCode</key>
		<integer>-1404</integer>
		<key>errorMassage</key>
		<string>图片分类失败</string>
		<key>errorTotalCode</key>
		<string>ERROR_GROUPLIST_NOT_EXISTED=-1404</string>
	</dict>
</array>
</plist>
